<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

    <int:channel id="headerChannel"/>
    <int:channel id="splitRecChannel"/>
    <int:channel id="addHeaderChannel"/>
    <int:channel id="transformedChannel"/>
    <int:channel id="outputChannel"/>
    <!--
        Integration Flows - Start
    -->
    <int:transformer id="populateHeaderValuesTransformer" input-channel="inputFiles" output-channel="headerChannel"
                     ref="statisticsTransformer" method="populateFromHeader"/>
    <!--TODO : Need to review the TC and TCR position on the RAW format-->
    <int:splitter
            input-channel="headerChannel"
            output-channel="splitRecChannel" ref="fileLineByLineSplitter"/>
    <int:transformer ref="employeeTransformer" method="transform" input-channel="splitRecChannel"
                     output-channel="transformedChannel"/>
    <int:chain id="outputChain" input-channel="transformedChannel">
        <int:object-to-json-transformer/>
        <int:logging-channel-adapter level="INFO" log-full-message="true"/>
    </int:chain>
    <int:channel id="errorChannel"/>
</beans>